@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  ---primary: #03c699;
  ---secondary: #839dd1;
  ---black: #27272a;
}

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li,
a,
button {
  font-weight: 500;
  font-size: 14px;
  color: var(---black);
  text-decoration: none;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav_links {
  list-style: none;
}

.nav_links li {
  display: inline-block;
  padding: 0px 20px;
}

.nav_links li a {
  transition: all 0.3s ease 0s;
}

.nav_links li a:hover {
  color: var(---secondary);
}

.logo {
  cursor: pointer;
  width: 20%;
}

button {
  color: var(---black);
  padding: 10px 30px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.6s ease 0s;
  background-color: var(---primary);
}

button:hover {
  background-color: var(---secondary);
}

body {
  display: flex;
  align-items: center;
  min-height: 100vh;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 1px;
  background-image: url('../Imgs/Lg\ samuel.svg');
  background-position: center;
  background-repeat: no-repeat;
}

.card {
  position: relative;
  display: flex;
  width: 320px;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card .imgBx {
  width: 100%;
  height: 240px;
  background: transparent;
  border-radius: 15px;
  background: url(../Imgs/pexels-binyamin-mellish-106399.jpg);
  background-size: cover;
  position: relative;
}

.card .imgBx::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 20px;
  height: 20px;
  background: transparent;
  border-radius: 50%;
  box-shadow: -10px 10px 0 #fff;
}

.card .imgBx::after {
  content: "";
  position: absolute;
  bottom: 70px;
  left: 0;
  width: 20px;
  height: 20px;
  background: transparent;
  border-radius: 50%;
  box-shadow: -10px 10px 0 #fff;
}

.card .content {
  position: relative;
  width: 100%;
  height: 150px;
  background: var(---primary);
  border-radius: 15px;
  border-top-left-radius: 0;
  padding: 0 35px;
}

.card .content ul {
  color: #fff;
}

.card .content .price {
  position: absolute;
  top: -80px;
  left: 0;
  height: 80px;
  width: 50%;
  background: var(---primary);
  border-top: 10px solid #fff;
  border-right: 10px solid #fff;
  border-top-right-radius: 25px;
}

.card .content .price:before {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  background: transparent;
  border-radius: 50%;
  box-shadow: -10px -10px 0 #fff;
}

.card .content .price::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: -25px;
  width: 25px;
  height: 25px;
  background: transparent;
  border-radius: 50%;
  box-shadow: -10px 10px 0 var(---primary);
}

.card .content .price a {
  position: relative;
  background: #fff;
  padding: 10px 20px;
  margin: 15px;
  display: block;
  border-radius: 7px;
  color: #333;
  font-weight: 600;
  text-decoration: none;
}
.card .content a {
  background: #fff;
  padding: 10px 20px;
  margin: 15px;
  display: block;
  border-radius: 7px;
  color: #333;
  font-weight: 500;
  text-decoration: none;
  text-align: center;
}

.card ul {
  list-style: none;
}

/* Modal  */

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;

  opacity: 0;
  visibility: hidden;
  transition: all 0.3s;
}

.modal {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 70%;
  transition: all 0.3s 0.3s;
  background: var(---primary);
  max-height: calc(100vh - 110px);
  overflow-y: auto;
}

.modal::-webkit-scrollbar {
  /* WebKit */
  width: 0;
  height: 0;
}
.close {
  position: absolute;
  top: 1rem;
  right: 1rem;
  cursor: pointer;
  font-size: 1.5rem;
  font-weight: 600;
  color: var(---black);
  text-decoration: none;
}

.modal-header,
.modal-footer {
  padding: 1rem;
  background-color: var(---secondary);
}

.modal-body {
  padding: 1rem;
  background-color: var(---secondary);
}

.modal-container:target {
  opacity: 1;
  visibility: visible;
}

.modal-container:target .modal {
  transform: translate(-50%, -50%);
  transition: all 2s;
}

.modal-body img {
  width: 70%;
  height: auto;
  padding-bottom: 30px;
}

p {
  color: black;
  margin: 15px;
}

.card-houses-info ul {
  list-style: none;
  letter-spacing: 2px;
  font-size: 20px;
  color: var(---black);
}

.card-houses-info a {
  text-decoration: none;
  color: #27272a;
  background: #fff;
  padding: 10px 20px;
  margin: 15px;
  display: inline-block;
  border-radius: 7px;
  color: #333;
  font-weight: 500;
  text-align: center;
  width: 200px;
  font-size: 16px;
}

.card-houses-info a:hover {
  background-color: var(---primary);
  color: var(---black);
  transition: all 1s;
}

.card a:hover {
  background: var(---secondary);
  transition: 0.4s;
}
